<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Shopme', 'none')" />
<body>
	<div class="container-fluid">
	<div th:replace="navigation :: header_menu"></div>
	<div th:replace="navigation :: search_nav"></div>
	<div class="text-center border border-secondary rounded m-3 p-3">
		<h2>Đơn đặt hàng của bạn đã được hoàn thành!</h2>
		<h4>Một email xác nhận đã được gửi đến cho bạn.</h4>
		<h4>Vui lòng kiểm tra email của bạn để biết chi tiết.</h4>
		<h4><a th:href="@{/khachhang/donhang}">Bấm vào đây</a> để quản lý và theo dõi đơn đặt hàng của bạn.</h4>
	</div>
			
	
	<div th:replace="navigation :: footer_menu"></div>
</div>
</body>
</html>