<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head(${pageTitle}, 'none')" />
<body>
<div class="container-fluid text-center">
	 <div th:replace="navigation :: header_menu"></div>
	<div th:replace="navigation :: search_nav"></div>
	<div class="text-center">
		<h2>Khách hàng đăng ký</h2>
	</div>
	
	<form th:action="@{/new_khachhang}" 
	th:object="${khachHang}" method="post" 
	style="max-width: 600px; margin: 0 auto;" 
	onsubmit="return checkEmailUnique(this);">
	
		<div class="border border-secondary rounded p-3">
			<p>Đăng ký tài khoản khách hàng Shopme</p>
			<div class="form-group row">
				<label class="col-sm-4 col-form-label">Họ :</label>
				<div class="col-sm-8">
					<input type="text" th:field="*{ho}" class="form-control"
					required="required" maxlength="45" minlength="2" />
				</div>
			</div>
		
			<div class="form-group row">
				<label class="col-sm-4 col-form-label">Tên:</label>
				<div class="col-sm-8">
					<input type="text" th:field="*{ten}" class="form-control"
						required="required" maxlength="45" minlength="2" />
				</div>
			</div>
				
			<div class="form-group row">
				<label class="col-sm-4 col-form-label">E-mail:</label>
				<div class="col-sm-8">
					<input type="email" th:field="*{email}" class="form-control"
						required="required" maxlength="45" minlength="8" />
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-sm-4 col-form-label">Mật khẩu:</label>
				<div class="col-sm-8">
					<input type="password" th:field="*{matKhau}" class="form-control"
						required="required" maxlength="15" minlength="6"
						oninput="checkPasswordMatch(document.getElementById('confirmPassword'))"
						 />
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-sm-4 col-form-label">Nhập lại mật khẩu:</label>
				<div class="col-sm-8">
					<input type="password" id="confirmPassword" class="form-control"
						required="required" maxlength="15" minlength="6"
						oninput="checkPasswordMatch(this)"
						 />
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-sm-4 col-form-label">Số điện thoại:</label>
				<div class="col-sm-8">
					<input type="text" th:field="*{soDienThoai}" class="form-control"
						required="required" maxlength="15" minlength="8" />
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-4 col-form-label">Địa chỉ 1:</label>
				<div class="col-sm-8">
					<input type="text" th:field="*{diaChi1}" class="form-control"
						required="required" maxlength="64" minlength="3" />
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-4 col-form-label">Địa chỉ 2:</label>
				<div class="col-sm-8">
					<input type="text" th:field="*{diaChi2}" class="form-control"
						maxlength="64" />
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-4 col-form-label">Thành phố:</label>
				<div class="col-sm-8">
					<input type="text" th:field="*{thanhPho}" class="form-control"
						maxlength="45" minlength="2" />
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-sm-4 col-form-label">Đất nước:</label>
				<div class="col-sm-8">
					<select class="form-control" th:field="*{datNuoc}">
						<th:block th:each="country : ${dsDatnuoc}">
							<option th:value="${country.maDatnuoc}">[[${country.ten}]]</option>
						</th:block>
					</select>
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-sm-4 col-form-label">Bang/Tỉnh:</label>
				<div class="col-sm-8">
					<input type="text" th:field="*{tinh}" class="form-control"
						maxlength="45" minlength="3" list="listStates" />
					<datalist id="listStates"></datalist>
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-sm-4 col-form-label">Mã bưu điện:</label>
				<div class="col-sm-8">
					<input type="text" th:field="*{maBuuDien}" class="form-control"
						maxlength="10" minlength="2" />
				</div>
			</div>
			
			<div class="text-center">
				<input type="submit" value="Đăng Ký" class="btn btn-primary" />
			</div>
		</div>
	</form>
	
	<div>&nbsp;</div>
	 <div th:replace="navigation :: footer">Static footer</div>
</div>
<script type="text/javascript">
	contextPath = "[[@{/}]]";
	
	var dropDownCountry;
	var dataListState;
	var fieldState;
	
	$(document).ready(function() {
		dropDownCountry = $("#datNuoc");
		dataListState = $("#listStates");
		fieldState = $("#tinh");
		
		dropDownCountry.on("change", function() {
			loadStatesForCountry();
			fieldState.val("").focus();
		});
	});
	
	function loadStatesForCountry() {
		selectedCountry = $("#datNuoc option:selected");
		countryId = selectedCountry.val();
		url = contextPath + "caidat/list_states_by_country/" + countryId;
		
		$.get(url, function(responseJSON) {
			dataListState.empty();
			
			$.each(responseJSON, function(index, state) {
				$("<option>").val(state.ten).text(state.ten).appendTo(dataListState);
			});
			
		}).fail(function() {
			alert('không kết nối được với máy chủ!');
		});
	}

	function checkPasswordMatch(confirmPassword) {
		if (confirmPassword.value != $("#matKhau").val()) {
			confirmPassword.setCustomValidity("Mất khẩu không hợp lệ!");
		} else {
			confirmPassword.setCustomValidity("");
		}
	}
	
	function checkEmailUnique(form) {
		url = contextPath + "khachhangs/check_unique_email";
		customerEmail = $("#email").val();
		csrfValue = $("input[name='_csrf']").val();
		
		params = {email: customerEmail, _csrf: csrfValue};
		
		$.post(url, params, function(response) {
			if (response == "OK") {
				form.submit();
			} else if (response == "Duplicated") {
				showWarningModal("Có một khách hàng khác đã có email " + customerEmail);
			} else {
				showErrorModal("Phản hồi không xác định từ máy chủ");
			}
		}).fail(function() {
			showErrorModal("Không thể kết nối đến máy chủ");
		});
		
		return false;
	}	
	
	function showModalDialog(title, message) {
		$("#modalTitle").text(title);
		$("#modalBody").text(message);
		$("#modalDialog").modal();
	}

	function showErrorModal(message) {
		showModalDialog("Error", message);
	}

	function showWarningModal(message) {
		showModalDialog("Warning", message);
	}	
</script>
</body>
</html>