<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Người dùng', 'none')" />
<body>
<div class="container-fluid">
	<div th:replace="navigation :: menu"></div>
	
	<div>
		<h2>Quản lý tài khoản người dùng</h2>
		<a style="text-decoration: none;" th:href="@{/nguoidung/new}" class="fas fa-user-plus fa-2x icon-dark mr-2"></a>
		
		<a style="text-decoration: none;" th:href="@{/nguoidung/export/csv}" class="fas fa-file-csv fa-2x icon-dark mr-2"></a>
		
		<a style="text-decoration: none;" th:href="@{/nguoidung/export/excel}" class="fas fa-file-excel fa-2x icon-dark mr-2"></a>
		
		<a style="text-decoration: none;" th:href="@{/nguoidung/export/pdf}" class="fas fa-file-pdf fa-2x icon-dark"></a>
	</div>
	
	<div th:replace="fragments :: search_form_and_message('/nguoidung/page/1')" />
	
	<div class="full-details">
		<table class = "table table-bordered table-striped table-hover table-responsive-xl">
			<thead class = "thead-dark">
				<tr>
					<th class="hideable-column">
						<th th:replace="fragments :: column_link('/nguoidung' ,'maTK', 'Mã tài khoản', 'tag')" /> 
					</th>
					
					<th>Ảnh đại diện</th>
					
					<th class="hideable-column">
						<th th:replace="fragments :: column_link('/nguoidung' ,'email', 'E-mail', 'tag')" /> 
					</th>
					
					<th th:replace="fragments :: column_link('/nguoidung' ,'nHo', 'Họ', 'none')" />
					
					<th th:replace="fragments :: column_link('/nguoidung' ,'nTen', 'Tên', 'none')" />
					<th>Chức vụ</th>					
					<th th:replace="fragments :: column_link('/nguoidung' ,'trangThai', 'Trạng thái', 'none')" />
					
					<th> </th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${listUsers}">
					<td class="hideable-column">[[${user.maTK}]]</td>
					<td>
						<div th:replace="fragments :: user_photos" />
					</td>
					<td class="hideable-column">[[${user.Email}]]</td>
					<td>[[${user.ho}]]</td>
					<td>[[${user.ten}]]</td>
					<td>[[${user.phanquyen}]]</td>
					
					<td>
						<div th:replace="fragments :: status(${user.trangThai}, 'nguoidung', '/nguoidung/' + ${user.maTK})" />
					</td>
					<td>
						<div th:replace="fragments :: edit('nguoidung', '/nguoidung/edit/' + ${user.maTK})" />
						&nbsp;&nbsp;
						<div th:replace="fragments :: delete('nguoidung', ${user.maTK}, '/nguoidung/delete/' + ${user.maTK}, true)" />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="less-details">
		<div th:each="user : ${listUsers}" class="row m-1">
			<div class="col-4">
				<div th:replace="fragments :: user_photos" />
			</div>
			<div class="col-8">
				<div>[[${user.hoTen}]]</div>
				<div>[[${user.phanquyen}]]</div>
				<div class="mt-2">
					<div th:replace="fragments :: status(${user.trangThai}, 'nguoidung', '/nguoidung/' + ${user.maTK})" />
					&nbsp; 			
					<div th:replace="fragments :: edit('nguoidung', '/nguoidung/edit/' + ${user.maTK})" />
					&nbsp; 
					<div th:replace="fragments :: delete('nguoidung', ${user.maTK}, '/nguoidung/delete/' + ${user.maTK}, true)" />
			</div>
			</div>
			
		<div>&nbsp;</div>
		</div>
	</div>
	
	<div th:replace="fragments :: pagination('/nguoidung', 'nguoidung')"></div>
	
	<div th:replace="modal_fragments :: confirm_modal" />
	
	<div th:replace="fragments :: footer"></div>
</div>
<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">
	moduleURL = "[[@{/nguoidung}]]";

	$(document).ready(function() {
		$(".link-delete").on("click", function(e) {
			e.preventDefault();
			showDeleteConfirmModal($(this), 'nguoidung');
		});
	});
</script>
</body>
</html>