<div class="modal-header">
	<h4 class="modal-title">Chi tiết khách hàng</h4>
	<button type="button" class="close" data-dismiss="modal">&times;</button>
</div>
<div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="general-tab" data-toggle="tab" href="#general" role="tab" aria-controls="general" aria-selected="true">Tổng quát</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="address-tab" data-toggle="tab" href="#address" role="tab" aria-controls="address" aria-selected="false">Địa chỉ</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active p-3" id="general" role="tabpanel" aria-labelledby="general-tab">
            <div class="form-group row">
                <label for="id" class="col-sm-4 col-form-label">Khách hàng ID:</label>
                <div class="col-sm-8">
                  <input type="text" readonly class="form-control" th:value="${customer.maKhachHang}">
                </div>
            </div>

            <div class="form-group row">
                <label for="name" class="col-sm-4 col-form-label">Họ và tên:</label>
                <div class="col-sm-8">
                  <input type="text" readonly class="form-control" th:value="${customer.HoTen}">
                </div>
            </div>
              
            <div class="form-group row">
                <label for="email" class="col-sm-4 col-form-label">E-mail:</label>
                <div class="col-sm-8">
                  <input type="text" readonly class="form-control" th:value="${customer.email}">
                </div>
            </div>  
              
            <div class="form-group row">
                <label for="phone" class="col-sm-4 col-form-label">Số điện thoại:</label>
                <div class="col-sm-8">
                  <input type="text" readonly class="form-control" th:value="${customer.soDienThoai}">
                </div>
            </div> 
              
            <div class="form-group row">
                <label for="enabled" class="col-sm-4 col-form-label">Trạng thái:</label>
                <div class="col-sm-2">
                  <input type="checkbox" th:checked="${customer.trangThai}" onclick="return false;" >
                </div>
            </div>
              
            <div class="form-group row">
                <label for="createdTime" class="col-sm-4 col-form-label">Thời gian tạo:</label>
                <div class="col-sm-6">
                  <div th:replace="fragments :: format_time(${customer.thoiGianTao})">Thời gian tạo</div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade show p-3" id="address" role="tabpanel" aria-labelledby="address-tab">
            <div class="form-group row">
                <label for="address1" class="col-sm-4 col-form-label">Địa chỉ 1:</label>
                <div class="col-sm-8">
                  <input type="text" readonly class="form-control" th:value="${customer.diaChi1}">
                </div>
            </div>
              
            <div class="form-group row">
                <label for="address2" class="col-sm-4 col-form-label">Địa chỉ 2:</label>
                <div class="col-sm-8">
                  <input type="text" readonly class="form-control" th:value="${customer.diaChi2}">
                </div>
            </div>
              
            <div class="form-group row">
                <label for="city" class="col-sm-4 col-form-label">Thành phố:</label>
                <div class="col-sm-8">
                  <input type="text" readonly class="form-control" th:value="${customer.thanhPho}">
                </div>
            </div>
              
            <div class="form-group row">
                <label for="state" class="col-sm-4 col-form-label">Bang/Tỉnh:</label>
                <div class="col-sm-8">
                  <input type="text" readonly class="form-control" th:value="${customer.tinh}">
                </div>
            </div>
              
            <div class="form-group row">
                <label for="country" class="col-sm-4 col-form-label">Quốc gia:</label>
                <div class="col-sm-8">
                  <input type="text" readonly class="form-control" th:value="${customer.datNuoc.ten}">
                </div>
            </div>        
            
            <div class="form-group row">
                <label for="postal" class="col-sm-4 col-form-label">Mã bưu điện:</label>
                <div class="col-sm-8">
                  <input type="text" readonly class="form-control" th:value="${customer.maBuuDien}">
                </div>
            </div>	  
        </div>
    </div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
</div>